.home_section{
    padding: 30px;
    display: flex;
}
.card_comp > img{
    object-fit: fill;
    min-width: 300px;
    min-height: 300px;
}

.card_info{
    margin-top: 9px;
    border-radius: 10px;
    padding: 20px;
    border: 1;
}